{% include 'base/head.html' %}
{% load static %}
<body>
    {% include 'base/navbar.html' %}
    
    <div class="all">
        
        <div class="rowfixed"></div>    
        {% block sidebar %}
        {% include 'base/sidebar.html' %}
        {% endblock sidebar %}
        
        {% block content %}        
        <div class="right_row">
            <div class="row">
                <div class="publish">
                    <div class="row_title">
                        <span><i class="fa fa-newspaper-o" aria-hidden="true"></i> Status </span>
                    </div>
                    <div class="publish_textarea">
                        <img class="border-radius-image" src="{{user.avatar.url}}" alt="avatar" />
                        <a href="{% url 'PyPublication:add' %}"  rel="noopener noreferrer">
                            <textarea type="text" placeholder="¿Whats up, {{user.first_name}}?" style="resize: none;"></textarea>
                        </a>
                    </div>
                    <div class="publish_icons">
                        <ul>
                            <li><i class="fa fa-camera"></i></li>
                            <li><i class="fa fa-video-camera"></i></li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            {% for publication in publications %}
            <div class="row border-radius">
                <div class="feed">
                    <div class="feed_title">
                        <img src="{{publication.user.avatar.url}}" alt="" />
                        <span><b>{{publication.user.get_full_name}}</b><p>{{publication.updated_at}}</p></span>
                    </div>
                    <div class="feed_content">
                        <div class="feed_content_image">
                            <p>{{publication.content}}</p>
                        </div>
                    </div>
                    <div class="feed_footer">
                        <ul class="feed_footer_left">
                            <li class="hover-orange selected-orange"><i class="fa fa-heart"></i> {{publication.likes}}</li>
                            <li><span><b>Jimmy, Andrea</b> and 157 more liked this</span></li>
                        </ul>
                        <ul class="feed_footer_right">
                            <li>
                                <li class="hover-orange selected-orange"><i class="fa fa-share"></i> 7k</li>
                                <a href="feed.html" style="color:#515365;"><li class="hover-orange"><i class="fa fa-comments-o"></i> 54 comments</li></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            {% if publications|length != 1 and publications %}
            <center>
                <a href=""><div class="loadmorefeed">
                    <i class="fa fa-ellipsis-h"></i>
                </div></a>
            </center>
            {% endif %} 
            
        </div>
        {% endblock content %}
        
        {% block suggestion %}
        <div class="suggestions_row">
            
            <div class="row shadow">
                <div class="row_title">
                    <span>Friend Suggestions</span>
                    <a href="">see more..</a>
                </div>
                {% for friend_suggestion in friend_suggestions %}
                <div class="row_contain">
                    <img src="images/user-7.jpg" alt="" />
                    <span><b>Francine Smith</b><br>8 Friends in Common</span>
                    <button>+</button>
                </div>
                {% endfor %}
            </div>
            
            {% include 'base/activitybar.html' %}
            
            {% include 'base/communitybar.html' %}
        </div>
        {% endblock suggestion %}

    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
    
{% include 'base/footer.html' %}