{% load static %}
<div class="row shadow">
    <div class="row_title">
        <span>Pages You May Like</span>
        <a href="#">see more..</a>
    </div>
    <div class="row_contain">
        <img src="{% static 'base/images/group-1.png' %}" alt="" />
        <span><a href=""><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
    </div>
    <div class="row_contain">
        <img src="{% static 'base/images/group-2.jpg' %}" alt="" />
        <span><a href=""><b>Caverna Roch</b></a><br>Rock / Band</span>
    </div>
</div>