{% extends 'base/base.html' %}
{% load static %}
    
{% block content %}
<div class="right_row">
    <form action="" enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        <!-- This formulario for avatar{{form.avatar.label}} : {{form.avatar}} -->
        {{form.as_p}}
        <button type="submit">Update</button>
    </form>
    <form action="{% url 'base:delete_account' %}" enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        <p>Do you like delete your account?</p>
        <input type="text" name="confirm" placeholder="Insert CONFIRM">
        <button type="submit">Delete Account</button>
    </form>
</div>

{% endblock content %}
    